{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/contact.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          {% if msg_sent: %}
          <h1>Successfully sent your message</h1>
          {% else: %}
          <h1>Contact Me</h1>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
        Hey you, <br><br>
          Thanks for dropping by! If you want to share an awesome book or movie with me, or you have similar thoughts (or totally opposite ones), or just want to say hi – shoot me an email! <br>
          <br>
          My address is: <B> vicky.di.zhang@gmail.com</B> <br>
          Just make sure the subject says <B>"From Vicky’s Website"</B> so I don’t accidentally miss it. I’ll hit you back ASAP!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
