{% include "header.html" %}

<!-- Page Header-->
{% if sub_category == 'spring' %}
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
{% else %}
<header
  class="masthead"
  style="background-image: url('../static/assets/img/home-bg1.png')"
>
{% endif %}
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>{{logo}}  {{sub_category}}</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!-- New Post -->
      {% if logged_in %}
      <div class="d-flex justify-content-end mb-4">

        <a
          class="btn btn-primary float-right"
          href="{{ url_for('add_new_post') }}"
          >Create New Post</a
        >
      </div>
      {% endif %}
      <!-- Post preview-->
      {% for post in all_posts %}
      <div class="post-preview">
        <a href="{{ url_for('show_post', post_id=post.id) }}">
          <h2 class="post-title"   style="color: black">{{ post.title }}</h2>
        </a>
        <p class="post-meta"  style="color: black">
          Posted on {{post.date}}
          {% if logged_in %}
          <a href="{{url_for('delete_post', post_id=post.id) }}" >✘</a>
          {% endif %}
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}



    </div>
  </div>
</div>


{% include "footer.html" %}
