{% include "header.html" %}

<!-- Page Header-->
{% if sub_category == 'Spring' %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/spring.png') }}')">
{% elif sub_category == 'Summer' %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/summer.jpg') }}')">
{% elif sub_category == 'Autumn' %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/autumn.jpg') }}')">
{% elif sub_category == 'Winter' %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/winter.jpg') }}')">
{% elif  sub_category == 'Crochet' %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/watershadow.jpeg') }}')">
{% elif  sub_category == 'Sewing' %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/spring2.png') }}')">
{% elif  sub_category == 'Sashiko' %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/sashiko.jpg') }}')">
{% elif  sub_category == 'Books' %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/book.png') }}')">
{% elif  sub_category == 'Courses' %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/seama.jpeg') }}')">
{% elif  sub_category == 'Professional' %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/wave.jpeg') }}')">
{% endif %}

  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>{{logo}}  {{sub_category}}</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!-- New Post -->
      {% if logged_in %}
      <div class="d-flex justify-content-end mb-4">

        <a
          class="btn btn-primary float-right"
          href="{{ url_for('add_new_post') }}"
          >Create New Post</a
        >
      </div>
      {% endif %}
      <!-- Post preview-->
      {% for post in all_posts %}
      <div class="post-preview">
        <a href="{{ url_for('show_post', post_id=post.id) }}">
          <h2 class="post-title"   style="color: black">{{ post.title }}</h2>
        </a>
        <p class="post-meta"  style="color: black">
          Posted on {{post.date}}
          {% if logged_in %}
          <a href="{{url_for('delete_post', post_id=post.id) }}" >✘</a>
          {% endif %}
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}



    </div>
  </div>
</div>


{% include "footer.html" %}
