{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/home-bg2.png');margin-bottom:0; "
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>✨  {{category}}</h1>
          <br>
          <span class="subheading">A collection of big small things.</span>
        </div>
      </div>
    </div>
  </div>
</header>

{% if category == 'Sparkle' %}
<div 
class="masthead section1"
style="background-color: rgb(20,45,80);"
>
<div class="row gx-4 gx-lg-5 justify-content-center">
 <div class="col-md-10 col-lg-8 col-xl-7 text-center  mb-5">
   <div class="site-heading">
     <h2>{{year}}  ✨</h2>
     <br>
   </div>
 </div>
</div>

<div class="section_container  px-4 px-lg-5">
  <div class="section_container ">
    <div class="timeline">
        <div class="timeline-item">
            <div class="icon icon1">🌷</i></div> <!-- 春 -->
        </div>
        <div class="timeline-item">
            <div class="icon icon1">⛱️</div> <!-- 夏 -->
        </div>
        <div class="timeline-item">
            <div class="icon icon1">🍂</div> <!-- 秋 -->
        </div>
        <div class="timeline-item">
            <div class="icon icon1">❄️</div> <!-- 冬 -->
        </div>
    </div>

    <div class="content">
      <div class="season">
        <div class="d-flex justify-content-between align-items-center">
            <h3>Spring</h3> 
            <a class="btn btn-secondary text-uppercase" style="color:rgb(20,45,80); background-color:rgb(186, 215, 233)" href="{{ url_for('get_select_posts', category='sparkle', sub_category='spring', logo='🌷')}}">All Posts...</a>
        </div>
    
        {% for post in spring %}
          <div class="d-flex justify-content-between align-items-center mb-1">
                <a href="{{ url_for('show_post', post_id=post.id) }}" class="text-decoration-none">
                    <h4 class="mb-0">{{ post.title }}</h4>
                </a>

                <div class="d-flex align-items-center">
                    <h5 class="mb-0 me-3">Posted on {{ post.date }}</h5>
                    {% if logged_in %}
                    <a href="{{ url_for('delete_post', post_id=post.id) }}" class="text-danger">✘</a>
                    {% endif %}
                </div>
          </div>
        {% endfor %}
      </div>
      <hr>

      <div class="season">
        <div class="d-flex justify-content-between align-items-center">
            <h3>Summer</h3> 
            <a class="btn btn-secondary text-uppercase" style="color:rgb(20,45,80); background-color:rgb(186, 215, 233)" href="{{ url_for('get_select_posts', category='sparkle', sub_category='summer', logo='⛱️')}}">All Posts...</a>
        </div>
    
  
        {% for post in summer %}
          <div class="d-flex justify-content-between align-items-center mb-1">
                  <a href="{{ url_for('show_post', post_id=post.id) }}" class="text-decoration-none">
                      <h4 class="mb-0">{{ post.title }}</h4>
                  </a>

                  <div class="d-flex align-items-center">
                      <h5 class="mb-0 me-3">Posted on {{ post.date }}</h5>
                      {% if logged_in %}
                      <a href="{{ url_for('delete_post', post_id=post.id) }}" class="text-danger">✘</a>
                      {% endif %}
                  </div>
          </div>
        {% endfor %}
      </div>
      <hr>

      <div class="season">
        <div class="d-flex justify-content-between align-items-center">
            <h3>Autumn</h3> 
            <a class="btn btn-secondary text-uppercase" style="color:rgb(20,45,80); background-color:rgb(186, 215, 233)" href="{{ url_for('get_select_posts', category='sparkle', sub_category='autumn', logo='🍂')}}">All Posts...</a>
        </div>
    
        {% for post in autumn %}
          <div class="d-flex justify-content-between align-items-center mb-1">
              <a href="{{ url_for('show_post', post_id=post.id) }}" class="text-decoration-none">
                  <h4 class="mb-0">{{ post.title }}</h4>
              </a>

              <div class="d-flex align-items-center">
                  <h5 class="mb-0 me-3">Posted on {{ post.date }}</h5>
                  {% if logged_in %}
                  <a href="{{ url_for('delete_post', post_id=post.id) }}" class="text-danger">✘</a>
                  {% endif %}
              </div>
          </div>

        {% endfor %}
      </div>
      <hr>
      
      <div class="season">
        <div class="d-flex justify-content-between align-items-center">
            <h3>Winter</h3> 
            <a class="btn btn-secondary text-uppercase" style="color:rgb(20,45,80); background-color:rgb(186, 215, 233)" href="{{ url_for('get_select_posts', category='sparkle', sub_category='winter', logo='❄️')}}">All Posts...</a>
        </div>
  
        {% for post in winter %}
          <div class="d-flex justify-content-between align-items-center mb-1">
              <a href="{{ url_for('show_post', post_id=post.id) }}" class="text-decoration-none">
                  <h4 class="mb-0">{{ post.title }}</h4>
              </a>

              <div class="d-flex align-items-center">
                  <h5 class="mb-0 me-3">Posted on {{ post.date }}</h5>
                  {% if logged_in %}
                  <a href="{{ url_for('delete_post', post_id=post.id) }}" class="text-danger">✘</a>
                  {% endif %}
              </div>
          </div>
        {% endfor %}
      </div>
    
    
    </div>
  </div>
</div>

<div class="container" style="padding:2rem; justify-items:center;">
  <div class="row">
    {% if year != '2024' %}
    <div class="col-6"><a class="btn btn-secondary text-uppercase" style="color:rgb(20,45,80); background-color:rgb(186, 215, 233); font-size:1.5rem;" href="#!">2024</a> </div>
    {% endif %}
    {% if year != '2025' %}
    <div class="col-6"><a class="btn btn-secondary text-uppercase" style="color:rgb(20,45,80); background-color:rgb(186, 215, 233); font-size:1.5rem;" href="#!">2025</a> </div>
    {% endif %}
    {% if year != '2026' %}
    <div class="col-6"><a class="btn btn-secondary text-uppercase" style="color:rgb(20,45,80); background-color:rgb(186, 215, 233); font-size:1.5rem;" href="#!">2026</a> </div>
    {% endif %}
  </div>  
  </div>
</div>

{% elif category == 'Hobby' %}
<!-- Hobby -->
 <div 
 class="masthead section2"
 style="background-color: #BAD7E9;"
 >
 <div class="row gx-4 gx-lg-5 justify-content-center">
  <div class="col-md-10 col-lg-8 col-xl-7 text-center  mb-5">
    <div class="site-heading">
      {% if current_user.id == 1 %}
      <h2>✨ Hobby   <a
          class="btn btn-primary float-right"
          href="{{url_for('add_new_post')}}"
          >+</a
        ></h2>
      {% else %}
      <h2>✨ Hobby</h2>
        {% endif %}

      <br>
      <span class="subheading">what i like to do......balabala</span>
    </div>
  </div>
</div>

<div class="section_container  px-4 px-lg-5">
  <div class="section_container ">
    <div class="timeline">
        <div class="timeline-item">
            <div class="icon icon2">🧶</div> <!-- Crochet -->
        </div>
        <div class="timeline-item">
            <div class="icon icon2">✂️</div> <!-- Sewing -->
        </div>
        <div class="timeline-item">
            <div class="icon icon2">🪡</div> <!-- Sashiko -->
        </div>
    </div>

    <div class="content">
        <div class="season">
          <div class="d-flex justify-content-between align-items-center">
            <h3>Crochet</h3>  
            <a class="btn btn-secondary text-uppercase" style="color:rgb(20,45,80); background-color:rgb(186, 215, 233)" href="#!">All Posts...</a>
          </div>
            <p>Article about Spring...</p>
        </div>
        <hr>
        <div class="season">
            <h3>Sewing</h3>
            <p>Article about Summer...</p>
        </div>
        <hr>
        <div class="season">
            <h3>Sashiko</h3>
            <p>Article about Winter...</p>
        </div>
    </div>
</div>
</div>

<div class="container" style="padding:2rem; justify-items:center;">
  <div class="row">
    <div class="col-4"><a class="btn btn-secondary text-uppercase" style="color:rgb(20,45,80); background-color:rgb(186, 215, 233); font-size:1.5rem;" href="#!">2024</a> </div>
    <!-- <div class="col-4"><a class="btn btn-secondary text-uppercase" style="color:rgb(20,45,80); background-color:rgb(186, 215, 233)" href="#!">2025</a> </div>
    <div class="col-4"><a class="btn btn-secondary text-uppercase" style="color:rgb(20,45,80); background-color:rgb(186, 215, 233)" href="#!">2026</a> </div> -->
  </div>  
  </div>
</div>


{% elif category == 'Self-explore' %}
<!--  Self-Explore -->
<div 
class="masthead section3"
style="background-color: rgb(252, 255, 231);"
>
<div class="row gx-4 gx-lg-5 justify-content-center">
 <div class="col-md-10 col-lg-8 col-xl-7 text-center  mb-5">
   <div class="site-heading">
    {% if current_user.id == 1 %}
    <h2>✨ Self-Explore  <a
        class="btn btn-primary float-right"
        href="{{url_for('add_new_post')}}"
        >+</a
      ></h2>
    {% else %}
    <h2>✨ Self-Explore</h2>
      {% endif %}
     <br>
     <span class="subheading">what i like to do......balabala</span>
   </div>
 </div>
</div>

<div class="section_container  px-4 px-lg-5">
 <div class="section_container ">
   <div class="timeline">
       <div class="timeline-item">
           <div class="icon icon3">📚</div> <!-- Books -->
       </div>
       <div class="timeline-item">
           <div class="icon icon3">🪄</div> <!-- Courses -->
       </div>
       <div class="timeline-item">
           <div class="icon icon3">💻</div> <!-- Professional related -->
       </div>
   </div>

   <div class="content">
       <div class="season">
        <div class="d-flex justify-content-between align-items-center">
          <h3>Books</h3>  
          <a class="btn btn-secondary text-uppercase" style="color:rgb(20,45,80); background-color:rgb(186, 215, 233)" href="#!">All Posts...</a>
        </div>
           <p>Article about Spring...</p>

       </div>
       <hr>
       <div class="season">
           <h3>Courses</h3>
           <p>Article about Summer...</p>
       </div>
       <hr>
       <div class="season">
           <h3>Professional related</h3>
           <p>Article about Autumn...</p>
       </div>
       <hr>
   </div>
</div>
</div>

<div class="container" style="padding:2rem; justify-items:center;">
 <div class="row">
   <div class="col-4"><a class="btn btn-secondary text-uppercase" style="color:rgb(20,45,80); background-color:rgb(186, 215, 233); font-size:1.5rem;" href="#!">2024</a> </div>
   <!-- <div class="col-4"><a class="btn btn-secondary text-uppercase" style="color:rgb(20,45,80); background-color:rgb(186, 215, 233)" href="#!">2025</a> </div>
   <div class="col-4"><a class="btn btn-secondary text-uppercase" style="color:rgb(20,45,80); background-color:rgb(186, 215, 233)" href="#!">2026</a> </div> -->
 </div>  
 </div>
</div>


{% elif category == 'Plan' %}
<!-- Plan -->
<div 
class="masthead section4"
style="background-color: rgb(235, 69, 95);"
>
<div class="row gx-4 gx-lg-5 justify-content-center">
 <div class="col-md-10 col-lg-8 col-xl-7 text-center  mb-5">
   <div class="site-heading">
    {% if current_user.id == 1 %}
    <h2>✨ Plan  <a
        class="btn btn-primary float-right"
        href="{{url_for('add_new_plan')}}"
        >+</a
      ></h2>
    {% else %}
    <h2>✨ Plan</h2>
      {% endif %}
     <br>
     <span class="subheading">what i like to do......balabala</span>
   </div>
 </div>
</div>

<div class="section_container  px-4 px-lg-5">
 <div class="section_container ">
   <div class="timeline">
       <div class="timeline-item">
           <h4>January</h4> <!-- Books -->
       </div>
       <div class="timeline-item">
        <h4>February</h4> <!-- Books -->
    </div>
   </div>

   <div class="content">
       <div class="season">
        <div class="d-flex justify-content-between align-items-center">
          <h3>Books</h3>  
          <a class="btn btn-secondary text-uppercase" style="color:rgb(20,45,80); background-color:rgb(186, 215, 233)" href="#!">All Posts...</a>
        </div>
           <p>Article about Spring...</p>

       </div>
       <hr>
       <div class="season">
           <h3>Courses</h3>
           <p>Article about Summer...</p>
       </div>

       <hr>
   </div>
</div>
</div>

<div class="container" style="padding:2rem; justify-items:center;">
 <div class="row">
   <div class="col-4"><a class="btn btn-secondary text-uppercase" style="color:rgb(20,45,80); background-color:rgb(186, 215, 233); font-size:1.5rem;" href="#!">2024</a> </div>
   <!-- <div class="col-4"><a class="btn btn-secondary text-uppercase" style="color:rgb(20,45,80); background-color:rgb(186, 215, 233)" href="#!">2025</a> </div>
   <div class="col-4"><a class="btn btn-secondary text-uppercase" style="color:rgb(20,45,80); background-color:rgb(186, 215, 233)" href="#!">2026</a> </div> -->
 </div>  
 </div>
</div>
{% endif %}
{% include "footer.html" %}